{% comment %}
Le template qui est affiché pour éditer une tache
Il est très similaire au template newtask (les aspects à l'écran sont les mêmes
{% endcomment %}


{% extends "template.html" %}
{% load bootstrap4 %}
{% block content %}
    {# ce jumbotron permet la navigation entre les différentes pages du projet #}
    <div class="jumbotron p-2 h2">
        <a href="{% url "projects" %}">Projets</a>
        <a href="{% url "project" proj_id=task.projet.id %}"> / {{ task.projet.name }}</a>
        <a href="{% url "task" task_id=task_id %}"> / {{ task.name }}</a>
    </div>



    <div class="container-fluid">
    <form method="post" enctype="multipart/form-data"
          action="{% url "edittask" task_id=task_id %}">
        {% csrf_token %}
        {% bootstrap_form form layout="horizontal" %}
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
{% endblock %}