{% comment %}
Le template qui est affiché pour la création d'une tâche
{% endcomment %}

{% extends "template.html" %}
{% load bootstrap4 %}
{% block content %}
    {# ce jumbotron permet la navigation entre les différentes pages du projet #}
    <div class="jumbotron p-2 h2">
        <a href="{% url "projects" %}">Projets</a>
        <a href="{% url "project" proj_id=proj_id %}"> / {{ project.name }}</a>
    </div>


    <div class="container-fluid">
        <form method="post" enctype="multipart/form-data"
              action="{% url "newtask" proj_id=proj_id %}">
            {% csrf_token %}
            {% bootstrap_form form layout="horizontal" %}
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
{% endblock %}