{% extends "./template.html" %}
{% load static %}
{% block content %}
    <div class="container-fluid">
    <div class="row">
        <div class="col-11">
             <h1>{{ project.name }}</h1>
        </div>
        <div class="col-1">
            <a href="{% url "newtask" id=project.id %}">
                <img src="{% static 'taskmanager/add.png' %}" width="60px"/>
        </a>
        </div>
    </div>

<table class="table border-bottom border-top">
    <tr class="table-secondary">
        <th>Task</th>
        <th>Assignee</th>
        <th>Start date</th>
        <th>Due date</th>
        <th></th>
    </tr>

    {% for task in tasks %}
    <tr>
        <td><a href="{% url "task" id=task.id %}">{{ task.name }}</a></td>
        <td>{{ task.assignee }}</td>
        <td>{{ task.start_date|date:"d M Y" }}</td>
        <td>{{ task.due_date|date:"d M Y" }} </td>
        <td><a href={% url "edittask" id=task.id %}>
                <img src="{% static 'taskmanager/edition.png' %}" width="24px"/>
            </a>
        </td>
    </tr>
    {% endfor %}
</table>
    </div>
{% endblock %}